/*MOBILE*/
@media(max-width:767px){
    .header-sec{
        background-color: #3f543e;
    }
    .nav-links{
        display: block;
        width: 100%;
        margin-left: 0;
        font-size: 30px;
        margin-bottom: 20px;
        padding-block:40px;
    }
    .nav-links li:hover{
        background-color: #3f543e;
    }
    .nav-links li a{
        color:#fff;
    }
    cmn-btn{
        display: none;
    }
    menu-btn{
        display: block;
    }
    .nav-links{
        flex-direction: column;
        position: fixed;
        background-color: #121212;
        top:110px;
        width:100%;
        height:100vh;
        left:-100%;
        text-align: center;
        transition: all ease-in-out 0.3s;
    }
    .nav-active::before{
        display:none;
    }
    #check:checked~.nav-links{
        left:0;
    }
}